<!-- listado de series buscadas -->
<main class="main">

    <div class="main__searcher">
        <h2 class="main__searcher__title">
            Buscador de series
        </h2>
        <section class="main__searcher__finder">
            <input type="text" class="main__searcher__finder--input js-input"
                placeholder="Introduce el nombre de la serie">
            <input type="button" class="main__searcher__finder--search js-search" value="Buscar"></input>
        </section>
    </div>

    <div class="main__container">

        <section class="favorites">
            <h2 class="favorites__title">
                Mis series favoritas
            </h2>

            <div class="favorites__container js-favorites__container">
            </div>

            <input type="button" class="favorites__reset js-reset" value="Reset"></input>
            <input type="button" class="favorites-log" value="LOG"></input>

        </section>

        <div class="main__search">
            <ul class="js-series-container series-container"></ul>
        </div>
    </div>

</main>