// estilo de todo el body
.body {
    font-family: $font-main;
    background-color: $color-grey;
    width: 100%;
}
    
.main__container{
    display: flex;
    flex-direction: column;
}


