 .series-finder{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

&__input {
        height: 35px;
        width: 250px;
        margin: 10px;
        padding: 0 10px;
        border-radius: 20px;
        border-style: none;
      }
      
      &__search {
        height: 35px;
        width: 90px;
        padding: 0 10px;
        border-radius: 20px;
        border-style: none;
        background-color: $color-quasi-yelow;
        font-weight: bolder;
        font-family: $font-main;

    &:hover{
        background-color: $color-dark-grey;
        color:$color-quasi-yelow ;
    }
      }

    }

    .series-favorites-container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &__favseries{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;  
            padding: 10px;
            
             &:hover{
                transform: scale3d(1.1, 1.1, 1.1) ;
                cursor: pointer;
                text-decoration: line-through;
                text-decoration-color: rgba(253, 216, 53, 0.575);
                text-decoration-thickness: 15px;
                }
       
            &--img{
                width: 150px;
                height: 220px;
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
                padding: 10px;
                }
            
            &--name{
            font-size: 20px;
            margin: 5px;  
            padding: 10px;
            background-color: white;
            width: 100%;
            text-align: center;
                  }
     
                 
        } 

    }

    .fas {
     font-size: 30px;
     color: $color-quasi-yelow;
     transform: translate(400%, -280px);
     cursor: pointer;
    } 

.hidden{
    display:none;

}