.favorites{
    background-color: $color-dark-grey;
    padding: 20px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include tablet {
               align-items: flex-start;       
     }

    &__title{
        margin:10px 0px ;
        color: $color-quasi-yelow;
        text-align: center;

           }
 
    &__container{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
           
        &--favseries{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // margin: 10px;  
            // padding: 10px;
            
             &:hover{
                cursor: pointer;
                text-decoration: line-through;
                text-decoration-color: rgba(252, 221, 82, 0.418);
                text-decoration-thickness: 15px;
                }
            }

       .favorites-img{
                width: 150px;
                height: 220px;
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
                padding: 10px;
                }
            
        .favorites-name{
            font-size: 15px;
            color: white;
            margin: 5px;  
            padding: 10px;
            // background-color: white;
            width: 70%;
            align-self: flex-start;
           //text-align: center;
            }
            
        .fas {
                font-size: 15px;
                color: $color-quasi-yelow;
                transform: translate(60px, -40px);
                cursor: pointer;

                @include tablet {
                    transform: translate(60px, -30px);
                }
                
            } 
    }

    &__reset{
   
        height: 35px;
        width: 90%;
        padding: 0 10px;
        border-radius: 20px;
        border-style: none;
        background-color: $color-quasi-yelow;
        font-weight: bolder;
        font-family: $font-main;

        @include tablet {
            width: 150px;
         }
        
        
    
    &:hover{
        background-color: $color-dark-grey;
        color:$color-quasi-yelow ;
    }
    }
}

.main__search{
    
    .series-container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
         }

        @include desktop{
            grid-template-columns: repeat(5, 1fr);  
            
         }
        
    
        &__series{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
             
            @include tablet {
                padding: 10px;
                margin: 10px;
             }
            
             &:hover{
                transform: scale3d(1.1, 1.1, 1.1) ;
                cursor: pointer;
                text-decoration: line-through;
                text-decoration-color: rgba(252, 221, 82, 0.418);
                text-decoration-thickness: 15px;
                }
       
            &--img{
                width: 130px;
                height: 180px;
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
                padding: 10px;
              
                @include tablet {
                    width: 150px;
                    height: 220px;
                    margin: 10px 0px;
                 }
                
                }
            
            &--name{
            font-size: 15px;
            color: white;
            margin: 5px;  
            padding: 5px;
            // background-color: white;
            width: 100%;
            text-align: center;
                  }

            &--time{
                font-size: 10px;
                padding: 5px;
                color: $color-quasi-yelow;
            }
        } 
    }
    }
    
    .favorite-serie{
        color: $color-dark-grey;
        background-color: $color-dark-grey;
    }



.hidden{
    display:none;

}